
.footer {
    top: 100%;
    width: 100%;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $main-dark;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include queries(670px) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    // FOOTER LEFT //

    .footer__left {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin: 2vh;

        @include queries(670px) {
            display: none;
        }

        span {
            background-color: transparent;
            color: #fff;
            font-family: $spaceGrotesk;
            font-weight: 300;

            a {
                background-color: transparent;
                text-decoration: wavy;
                color: #fff;
                font-family: $spaceGrotesk;
                font-weight: 500;
            }
            
            &:last-child {
                display: flex;
                align-items: end;
                height: 100%;
                color: /* #7c7c7c */ $main-gray;
                font-weight: 300;

                a {
                    color: /* #7c7c7c */ $main-gray;
                    transition: 0.5s;
                    padding-inline: 0.5vh;

                    &:hover {
                        color: $main-light;
                    }
                }
            }
        }
    }

    // FOOTER CENTER //

    .footer__center {
        @extend .flex-center;

        .footer__center__form {
            width: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2vh;
            background-color: transparent;
            margin: 2vh;
        }
    
        p {
            color: $main-light;
            background-color: transparent;
            font-family: $spaceGrotesk;
            margin: 0;
            font-weight: 500;
            font-size: 2vh;
        }
    
        input {
            color: $main-light;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $main-light;
            font-family: $spaceGrotesk;
            padding: 1vh;
            
            &::placeholder {
                text-align: center;
                font-size: 2vh;
            }
        }
    
        button {
            position: relative;
            color: $main-light;
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid $main-light;
            padding: 0.5vh;
            font-family: $spaceGrotesk;
            transition: 0.5s ease;
            min-height: 5vh;
            width: 100%;
            font-weight: 500;
    
            &:hover {
                background-color: $main-light;
                color: $main-dark;
            }
        }
    }

    // FOOTER RIGHT //

    .footer__right {
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: transparent;
        margin: 2vh;

        @include queries(670px) {
            align-items: center;
            padding-block: 3vh;
            background-color: $main-dark;
            margin: 0;
        }
    
        div {
            width: 200px;
            display: flex;
            flex-direction: column;
    
            p {
                color: #fff;
                background-color: transparent;
                display: flex;
                justify-content: center;
                font-family: $spaceGrotesk;
                font-weight: 500;
                font-size: 2vh;
            }
        }
        
        .social {

            justify-content: space-evenly;
            flex-direction: row;
    
            a {
                
                .svg_icon { 
                    height: 25px;
                    width: 25px;
                    fill: $main-light;
                    transition: 0.5s;

                    &:hover {
                        fill: $main-green;
                    }
                }
            }
        }
    }
}
