
.contact__title__container {
    @include flex(center,center,relative);
    height: 20vh;
    width: 100%;
    background: none;

    h2 {
        font-family: $font-sora;
        font-size: 3vh;
        background: none;
    }
}

.contact__main__container {
    @include flex(space-evenly,normal,relative);
    width: 80%;
    height: 75vh;
    margin-bottom: 10vh;
    background: none;

    @include queries(900px) {
        height: 100%;
        flex-direction: column;
    }

    .info__container {
        @include flex(space-between,end,relative);
        flex-direction: column;
        width: 50%;
        background: none;
        font-size: 2.5vh;
        padding-inline: 5%;

        @include queries(900px) {
            width: 100%;
            padding-bottom: 5vh;
            align-items: normal;
        }

        p {
            font-family: $font-sora;
            background: none;
            margin: 0;
            font-style: italic;
        }

        h2 {
            background: none;
            margin: 0;
            font-style: italic;

            @include queries(900px) {
                display: flex;
                justify-content: end;
            }
        }
    }

    .contact__container {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-inline: 5%;
        width: 50%;
        background: none;

        @include desk__small {
            width: 100%;
        }

        .form__contact {
            @include flex(space-between,normal,relative);
            flex-direction: column;
            row-gap: 2vh;
            background: none;
            height: 100%;

            .form__groups {
                display: flex;
                position: relative;
                flex-direction: column;
                background: none;

                input {
                    height: 5vh;
                    border-radius: 2.5px;
                    border: 1px solid $main-gray;
                    background: none;
                    border-radius: .375rem;
                    padding: .375rem 2.25rem .375rem .75rem;
                }

                &:nth-of-type(5) textarea {
                    height: 15vh;
                    resize: none;
                    background: none;
                    border-radius: .375rem;
                    border: 1px solid $main-gray;
                    padding: .375rem .75rem .375rem .75rem;                
                }

                label {
                    font-family: $font-sora;
                    font-weight: 500;
                    background: none;
                }

                .form-select {
                    border: 1px solid $main-gray;
                    border-radius: .375rem;

                    option {
                        background: none;
                    }
                }
            }

            button {
                height: 6vh;
                border-radius: 0.375rem;
                border: 1px solid $main-gray;
                transition: 0.5s ease all;
                background: none;

                &:hover {
                    transition: 0.5s ease all;
                    background-color: rgba(0, 0, 0, 1);
                    color: $main-green;
                    border: 2px solid $main-green;
                }
            }
        }
    }
}
