
.main__container {
    @extend .flex-center;
    width: 100%;

    @include queries(550px) {
        position: relative;
        height: 100vh;
    }

    .main__background {
        width: 100%;
        position: relative;

        @include queries(550px) {
            background-size: auto;
            background-position: center;
            height: 100vh;
            object-fit: cover;
        }
    }

    .mainTitle__container {
        @include flex(center,center,absolute);
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: x-large;
        color: $main-light;
        background-color: transparent;

        .mainTitle {
            background: transparent;
            margin-bottom: 0;
            margin-inline: 5vh;

            span {
                background-color: transparent;
                font-family: $spaceGrotesk;
                font-style: italic;
                font-weight: 100;

                &:first-child {
                    display: flex;
                    font-weight: 400;
                }

                &:last-child {
                    display: flex;
                    justify-content: end;
                    font-weight: 100;

                    @include queries(550px) {
                        justify-content: center;
                    }
                }

                @include queries(550px) {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
}

img {
    height: 100vh;
    object-fit: cover;
}

.carousel-item {
    position: relative;
    float: inline-start;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .4s ease-in-out;
    align-items: center;
    justify-content: center;

    .carousel__link {
        @include flex(center,center,absolute);
        flex-direction: column;
        color: $main-light;
        background: transparent;
        text-align: center;

        p {
            margin-bottom: 0 !important;
            background: none;
        }

        h2 {
            background: none;
            font-weight: 500;
            font-size: xxx-large;
        }

        .carousel__button {
            @include flex(center,center,relative);
            color: $main-light;
            background: none;
            border: 2px solid rgba(256, 256, 256, 0.8);
            width: 20vh;
            padding-block: 2.5vh;
            border-radius: 0.3vh;
            transition: 0.7s ease all;
            text-decoration: none;

            &:hover {
                color: $main-dark;
                background-color: $main-light;
                font-weight: 500;
            }
        }
    }
}

.active {
    display: flex !important;
}
