


.main__container {
    @include flex(center,center,relative);
    width: 100%;
    height: 100vh;

    .background__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(256, 256, 256, 0.2);
    }

    .joinus__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form__container {
        display: flex;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        width: 700px;
        border-radius: 10px;

        @include queries(720px) {
            width: 400px;
        }

        @include queries(720px) {
            width: 300px;
        }

        .login__container {
            @include flex(space-between,center,relative);
            height: 500px;
            width: 50%;
            background-color: transparent;
            flex-direction: column;

            @include queries(720px) {
                width: 100%;
            }

            h2 {
                @extend .font-style-h2;
                @extend .flex-center;
                position: relative;
                padding: 10%;
                background-color: transparent;
                color: $main-light;
            }

            form {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                flex-direction: column;
                background-color: transparent;

                .login__input {
                    @include flex(center,center,relative);
                    width: 100%;
                    padding-bottom: 10px;
                    background-color: transparent;

                    input {
                        width: 70%;
                        padding: 10px;
                        background-color: transparent;
                        border: 1px solid #acacac;
                        border-radius: 0.375rem;
                        height: 2.5rem;
                        outline: none;
                        color: $main-light;
                        transition: 0.5s;

                        &:hover {
                            border: 1px solid $main-light;
                        }

                        &::placeholder {
                            color: #acacac;
                            transition: 0.5s;
                        }

                        &:hover::placeholder {
                            color: $main-light;
                        }
                    }
                }

                .remember__input {
                    @include flex(start,center,relative);
                    width: 70%;
                    padding-bottom: 10px;
                    background-color: transparent;

                    label {
                        background-color: transparent;
                        color: $main-light;
                        padding-left: 0.5rem;
                    }
                }

                a {
                    @include flex(start,center,relative);
                    width: 70%;
                    background-color: transparent;
                    color: $main-light;
                }

                button {
                    margin: 8%;
                    padding: 0.6rem;
                    width: 70%;
                    background-color: $main-light;
                    border-radius: 5px;
                    border: none;
                    transition: 0.5s ease;

                    &:hover {
                        background-color: $main-green;
                    }

                }

                .register__low__size {
                    display: none;
                    margin: 2%;
                    padding: 0.6rem;
                    width: 70%;
                    background-color: $main-light;
                    border-radius: 5px;
                    border: none;
                    transition: 0.5s ease;

                    @include queries(720px) {
                        display: block;
                    }
                }
            }

            .login__methods__container {
                display: flex;
                background-color: transparent;
                flex-direction: column;
                padding-bottom: 10%;

                p {
                    background-color: transparent;
                    color: $main-light;
                    text-align: center;
                }

                .login__methods {
                    @include flex(center,center,relative);
                    background-color: transparent;
                    gap: 20px;
                    top: 10px;

                    a {
                        background-color: transparent;
                        left: 0;
                    }

                    .svg_icon {
                        height: 40px;
                        width: 40px;
                        fill: $main-light;
                        background-color: transparent;
                        transition: 0.5s;

                        &:hover {
                            fill: $main-green;
                        }
                    }
                }

                @include queries(720px) {
                    display: none;
                }
            }
        }

        .register__container {
            height: 500px;
            width: 50%;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: 1px solid $main-light;

            @include queries(720px) {
                display: none;
            }

            h2 {
                @extend .font-style-h2;
                @extend .flex-center;
                position: relative;
                padding: 10%;
                background-color: transparent;
                color: $main-light;
            }

            form {
                display: flex;
                align-items: center;
                width: 100%;
                flex-direction: column;
                background-color: transparent;

                .register__input {
                    @include flex(center,center,relative);
                    width: 100%;
                    padding-bottom: 10px;
                    background-color: transparent;

                    input {
                        width: 70%;
                        padding: 10px;
                        background-color: transparent;
                        border: 1px solid #acacac;
                        border-radius: 0.375rem;
                        height: 2.5rem;
                        outline: none;
                        color: $main-light;
                        transition: 0.5s ease;

                        &:hover {
                            border: 1px solid $main-light;
                        }

                        &::placeholder {
                            color: #acacac;
                            transition: 0.5s
                        }

                        &:hover::placeholder {
                            color: $main-light;
                        }
                    }
                }

                .terms__input {
                    @include flex(start,center,relative);
                    width: 70%;
                    background-color: transparent;
                    font-size: 14px;

                    label {
                        background-color: transparent;
                        color: $main-light;
                        padding-left: 0.5rem;
                    }
                }
            }

            button {
                margin: 6%;
                padding: 0.6rem;
                width: 70%;
                background-color: $main-light;
                border-radius: 5px;
                border: none;
                transition: 0.5s ease;

                &:hover {
                    background-color: $main-green;
                }
            }
        }
    }
}

