.topic {
    @include flex(center,center,relative);
    width: 90%;
    height: 7vh;
    margin-block: 5vh;
    padding-left: 2vh;
    background-color: $main-red;
    border-radius: 1vh;

    h2 {
        color: $main-light;
        background-color: $main-red;
        margin: 0;
        font-size: 3vh;
    }
}


.news__container {
    display: grid;
    height: 80vh;
    width: min(90%, 90%);
    gap: 5vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: $main-light;

    @include queries(900px) {
        display: grid;
        gap: 5vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 150vh;
    }

    @include queries(500px) {
        gap: 2.5vh;
    }

    .news__section {
        @include flex(center,center,relative);
        border-radius: 1vh;
        overflow: hidden;
        transition: 0.5s ease all;

        .news__image {
            transform: scale(0.4);
            overflow: hidden;
        }

        .image__overlay {
            @include flex(center,center,absolute);
            background-color: rgba(0, 0, 0, 0.5);
            height: 40%;
            width: 100%;
            bottom: 0;
            flex-direction: column;
        }
    }

    .section__1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: span 2;

        @include queries(900px) {
            grid-column: span 4;
            grid-row-start: 1;
            grid-row-end: 5;
        }

        .carousel-item {

            @include queries(900px) {
                .image__overlay {
                    height: 50%;
                }
            }

            img {
                height: 80vh;
                object-fit: cover;
            }

            .carousel-caption {
                position: relative;
                left: 0;
                background: none;

                @include queries(900px) {
                    display: flex;
                    flex-direction: column;
                    color: $main-light;
                    text-align: center;
                }

                h2 {
                    background: none;
                }

                p {
                    background: none;
                }
            }
        }

        .carousel-control-prev-icon {
            background-color: transparent;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }

        .carousel-control-next-icon {
            background-color: transparent;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }

        &:hover {
            .image__overlay {
                transition: 0.5s ease all;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
    
    .section__2 {
        grid-column: span 2;

        @include queries(900px) {
            grid-column: span 4;
            grid-row-start: 5;
            grid-row-end: 8;

            img {
                scale: 1.1;
            }
        }
        
        .image__overlay {
            justify-content: center;

            @include queries(900px) {
                height: 50%;
            }
        }

        .news__title {
            @include flex(center,center,relative);
            width: 100%;
            background: transparent;

            h3 {
                background-color: transparent;
                color: $main-light;
                margin: 0.5vh;
                font-size: 1.25rem;
            }
        }

        .news__info {
            @include flex(center,center,relative);
            width: 100%;
            background: transparent;

            p {
                @include flex(center,center,relative);
                background-color: transparent;
                color: $main-light;
                width: 100%;
                margin: 0.5vh;
            }
        }
    }
    
    .section__3, .section__4 {

        @include queries(900px) {
            grid-row: span 3;
        }

        .news__title__small {
            @include flex(center,center,relative);
            width: 100%;
            height: 100%;
            background: transparent;

            h4 {
                @include flex(center,center,relative);
                background-color: transparent;
                color: $main-light;
                width: 100%;
                margin: 0.5vh;
                text-align: center;
                font-size: 1.25rem;
            }
        }
    }
    
    .section__3 {
        grid-column: 3;

        @include queries(900px) {
            grid-column: span 2;

            img {
                scale: 1.1;
            }
        }
    }

    .section__4 {
        grid-column: 4;

        @include queries(900px) {
            grid-column: span 2;

            img {
                scale: 1.1;
            }
        }

    }

    section:hover {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
        transform: scale(1.01);
    }
}

.container__3 {
    margin-bottom: 10vh;
}
